################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CoNSoL-TakeOff
/Docs/output.log
/Docs/Temp
/CoNSoL-TakeOff-AI-Docs/.space
/CoNSoL-TakeOff-AI-Docs/.trash
/CoNSoL-TakeOff-AI-Docs/ar
/CoNSoL-TakeOff-AI-Docs/en/.space
/CoNSoL-TakeOff-AI-Docs/en/05_SDLC_Library/.space
/CoNSoL-TakeOff-AI-Docs/Temp/.obsidian
/CoNSoL-TakeOff-AI-Docs/Temp/.trash
/CoNSoL-TakeOff-AI-Docs/Temp/.trash/DistanceRuler.md
/CoNSoL-TakeOff-AI-Docs/ZRGPictureBoxControl-in-Details/.space
