################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CoNSoL-TakeOff
/Docs/output.log
/Docs/Temp
/CoNSoL-TakeOff-AI-Docs/HTML Pages
