################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CoNSoL-TakeOff
/Docs/output.log
/Docs/Temp
/TempToDelete
/CoNSoL-TakeOff-AI-Docs/HTML Pages
/.dotnet-home
/.git
/.vs
/CoNSoL-TakeOff-AI-Docs/.makemd
/CoNSoL-TakeOff-AI-Docs/.obsidian
/CoNSoL-TakeOff-AI-Docs/.obsidian/workspace.json
/CoNSoL-TakeOff-AI-Docs/.space
/CoNSoL-TakeOff-AI-Docs/.trash
/CoNSoL-TakeOff-AI-Docs/ar
/CoNSoL-TakeOff-AI-Docs/Drawing-Mermaids
/CoNSoL-TakeOff-AI-Docs/Excalidraw
/CoNSoL-TakeOff-AI-Docs/Mockups/.space
/CoNSoL-TakeOff-AI-Docs/Mockups/Mockups.md
/CoNSoL-TakeOff-AI-Docs/ZRGPictureBoxControl-in-Detailed/.space
/CoNSoL-TakeOff-AI-Docs/en/Project-Example -(to-be-deleted)
/Project-Example -(to-be-deleted)/ZRGPictureBox\bin
/Project-Example -(to-be-deleted)/ZRGPictureBox\obj
/Desktop/Assets
